.chat-main
  .main-header
    .main-header__group
      %h1.main-header__group__name
        = @group.name
      %ul.main-header__group__member
        Member : 
        %li.main-header__group__member__name
          - @group.users.each do |user|
            %li= user.name
    = link_to edit_group_url(@group) do
      .main-header__edit-btn
        Edit
    
  .messages
    = render @messages

  .form
    = form_for [@group, @message] do |f|
      .form-post
        = f.text_field :content, class: 'form-post__text', placeholder: 'type a message'
        = f.label :image, class: 'form-post__image' do
          = icon('fas', 'image')
          = f.file_field :image, class: 'form-post__image__file'
      = f.submit 'Send', class: 'send-btn'